textarea {
    width: 90%;
    resize: none;
}

.chat_area {
    text-align: center;
}

#id_input_text {
    margin-bottom: 2em;
}

.input_title {
    margin: 1em 0;
}

.input_text {
    margin-left: 5%;
}