<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css">
    {% block header %} {% endblock %}
</head>

<body>
<!-- navbar -->
<div class=" navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">
                Curt TG
            </a>
            <ul class="nav pull-right">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="{{ url_for('routes.user.signin') }}">注册</a>
                </li>
                <li>
                    <a href="{{ url_for('routes.user.login') }}">登录</a>
                </li>
                <li>
                    <a href="{{ url_for('routes.user.logout') }}">注销</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% block content %} {% endblock %}
<div id="footer">
    <div id="footer_main">
        <div class="links">
            <a class="dark" href="http://www.miit.gov.cn/">皖ICP备17018263号-1</a>
        </div>

        <div class="col_fade">
            <p>真正的勇士, 敢于直面惨淡的人生, 敢于正视淋漓的鲜血.</p>
        </div>
    </div>
</div>
{% block script %}
{% endblock %}
</body>

</html>