<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Register</title>
</head>

<body>
    <!-- navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">
                    Curt TG
                </a>
                <ul class="nav pull-right">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/signup">注册</a>
                    </li>
                    <li>
                        <a href="/signin">登录</a>
                    </li>
                </ul>
                <a class="btn btn-navbar" id="responsive-sidebar-trigger">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="content">
            <div class="panel">
                <div class="header">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">主页</a>
                            <span class="divider">/</span>
                        </li>
                        <li class="active">注册新账号</li>
                    </ul>
                </div>
                {% if result != ''%}
                <script>alert('{{result}}')(</script>
                {% endif %}
                <div class="inner">
                    <form id="signin_form" class="form-horizontal" action="/user/new" method="post">
                        <div class="control-group">
                            <label class="control-label" for="name">用户名</label>
                            <div class="controls">
                                <input class="input-xlarge" id="name" name="username" size="30" type="text">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="pass">密码</label>

                            <div class="controls">
                                <input class="input-xlarge" id="pass" name="password" size="30" type="password">
                            </div>
                        </div>
                        <div class="form-actions">
                            <input class="span-primary" value="注册" type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="backtotop" style="top: 663px; right: 0px;">回到顶部</div>
    <div id="sidebar-mask"></div>
    {% if result != "" %}
    <script>alert('{{result}}')</script>
    {% endif %}
    <!-- <script>
            // google analytics
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', "https://www.google-analytics.com/analytics.js", 'ga');

            ga('create', 'UA-41753901-5', 'auto');
            ga('send', 'pageview');
        </script>
        <div style="display:none;">
            <script src="//s95.cnzz.com/z_stat.php?id=1254020586&amp;web_id=1254020586" language="JavaScript"></script>
            <script src="https://c.cnzz.com/core.php?web_id=1254020586&amp;t=z" charset="utf-8" type="text/javascript"></script>
            <a href="http://www.cnzz.com/stat/website.php?web_id=1254020586" target="_blank" title="站长统计">站长统计</a>
        </div> -->
</body>

</html>